<% if defined?(:current_user) && current_user %>

<%= render 'comments/form', commentable: commentable %>

<% else %>

  <%= t 'comments.to_leave_a_comment_you_need_to' %> <%= link_to t('comments.register'), new_user_registration_path %>
  <hr>

<% end %>

<% comments = commentable.comment_threads.paginate(page: params[:page], per_page: 10) %>

<%= will_paginate comments, renderer: BootstrapPagination::Rails, bootstrap: 3 %>

<div id="comments">
  <% comments.each do |comment| %>
    <%= render comment %>
  <% end %>
</div>

<%= will_paginate comments, renderer: BootstrapPagination::Rails, bootstrap: 3 %>