<!-- Main jumbotron for a primary marketing message or call to action -->


<% content_for :head do %>
    <div class="jumbotron clearfix">
      <h1>Add your Hotel!</h1>
      <p>
        You have a hotel and want to increase amount of clients? Sign up and add add it in BestHotels!
        Show up photos, rooms and categories. Manage visitors loading. Advertise your page through social networks.
      </p>
      <p><%= link_to 'Add Hotel for free &raquo;'.html_safe, new_hotel_path, class:"btn btn-success btn-large pull-right" %></p>
    </div>


    <div class="body-content">

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Resorts</h2>
          <%= render Resort.all %>
        </div>
        <div class="col-lg-4">
          <h2>Hotels</h2>
          <%= render @hotels %>
          <%= link_to 'View all hotels', hotels_path %>
        </div>
        <div class="col-lg-4">
          <h2>Last comments</h2>
          <%= render @comments, show_commentable: true, truncate_text: true %>
        </div>
      </div>

      <hr>


    </div>

<% end %>

<% content_for :offer do %>
    <h3>Book now!</h3>
    <%= render 'hotels/booking_form_offer' %>
<% end %>

