<!-- Main jumbotron for a primary marketing message or call to action -->
<% title t('homepage.title') %>

<% content_for :offer do %>
  <%# render 'hotels/booking_form_offer' %>
<% end %>

<% content_for :head do %>

    <%# render 'layouts/main_carousel' %>

    <div class="body-content">

      <div class="row">
        <% Resort.tagged_with('ski').each do |resort| %>
          <div class="tile-wrapper col-sm-6 col-lg-4">
            <%= render('layouts/tile', type: 'resort', cached: true,
                       object: resort, title: resort.node.title) if resort %>
          </div>
        <% end %>

        <% Tour.limit(5).each do |tour| %>
          <% cache tour do %>
            <div class="tile-wrapper col-sm-6 col-lg-4">
              <%= render('layouts/tile', type: 'tour',
                         object: tour, title: tour.title) if tour %>
            </div>
          <% end %>
        <% end %>

        <% @hotels.each do |hotel| %>
          <%= cache hotel do %>
            <div class="tile-wrapper col-sm-6 col-lg-4">
              <%= render('layouts/tile', type: 'hotel',
                          object: hotel, title: hotel.title) if hotel %>
            </div>
          <% end %>
        <% end %>

      </div>
    </div>

<% end %>


<div class="row">
  <div class="col-lg-6">
    <h2><%= t 'posts.latest' %></h2>
    <%= render Post.limit(10), cached: true %>

    <%= link_to t('posts.all'), posts_path %>
  </div>
  <div class="col-lg-6">
    <h2><%= t('comments.latest') %></h2>
    <%= render @comments, show_commentable: true, truncate_text: true, cached: true %>
  </div>
</div>