<!-- Main jumbotron for a primary marketing message or call to action -->
<% title t('homepage.title') %>

<% content_for :head do %>

    <%= render 'layouts/main_carousel' %>

    <div class="body-content">

      <div class="row">
        <div class="col-lg-4">
          <h4><%= t 'resorts.h' %></h4>
          <%= render Resort.all %>
        </div>
        <div class="col-lg-4">
          <h4><%= t 'streams.h' %></h4>
          <%= render Stream.all %>
        </div>
        <div class="col-lg-4">
          <h4><%= t 'tours.h' %></h4>
          <%= render Tour.limit(5) %>
        </div>
      </div>

      <hr>

    </div>

<% end %>

<% content_for :sidebar do %>
    <h4><%= t('comments.latest') %></h4>
    <%= render @comments, show_commentable: true, truncate_text: true %>
<% end %>

<% content_for :offer do %>
    <h3><%= t('booking.now') %></h3>
    <%= render 'hotels/booking_form_offer' %>
<% end %>

<div class="row">
  <div class="col-lg-6">
    <h4><%= t 'hotels.h' %></h4>
    <%= render @hotels %>
    <%= link_to 'View all hotels', hotels_path %>
  </div>
  <div class="col-lg-6">
    <h4><%= t 'posts.latest' %></h4>
    <%= render Post.limit(10) %>
  </div>
</div>