<!-- Main jumbotron for a primary marketing message or call to action -->
<% title t('homepage.title') %>

<% content_for :offer do %>
  <%# render 'hotels/booking_form_offer' %>
<% end %>

<% content_for :head do %>

    <%# render 'layouts/main_carousel' %>

    <div class="body-content">

      <div class="row">
        <div class="col-lg-8">
          <h2><%= t 'resorts.h' %></h2>
          <% Resort.tagged_with('best').in_groups_of(2) do |arr| %>
            <div class="row">
              <% arr.each do |resort| %>
                <div class="col-lg-6">
                  <%= render resort if resort %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="col-lg-4">
          <h2><%= t 'tours.h' %></h2>
          <%= render Tour.limit(5) %>
        </div>
      </div>

      <hr>

    </div>

<% end %>

<% content_for :sidebar do %>
    <h2><%= t('comments.latest') %></h2>
    <%= render @comments, show_commentable: true, truncate_text: true %>
<% end %>



<div class="row">
  <div class="col-lg-6">
    <h2><%= t 'hotels.h' %></h2>
    <%= render @hotels %>
    <%= link_to 'View all hotels', hotels_path %>
  </div>
  <div class="col-lg-6">
    <h2><%= t 'posts.latest' %></h2>
    <%= render Post.limit(10) %>

    <%= link_to t('posts.all'), posts_path %>
  </div>
</div>