<!-- Main jumbotron for a primary marketing message or call to action -->


<% content_for :head do %>
    <div class="jumbotron clearfix">
      <h1>Welcome to BestHotels in UA!</h1>
      <p>
        We are opening on 15.11.2013.
      </p>
      <p>
        BestHotels is the evolution of <a href="http://skiworld.org.ua">SkiWorld.org.ua</a> and satellite projects:
        <a href="httpd://zdravtour.net">ZdravTour</a>,
        <a href="httpd://yarem4e.com">Yarem4e</a>,
        <a href="httpd://dragobrat.org.ua">Dragorat</a>,
        <a href="httpd://greenworld.com.ua">GreenWorld</a>.
      </p>
      <h3>Our goals:</h3>
      <ul>
        <li>Represent Ukrainian resorts and hotels and their infrastructure in user-friendly way.</li>
        <li>Provide easy booking through stable and well-known booking systems.</li>
        <li>Give business people opportunities:
          <ul>
            <li>Create and support pages of their hotels, tours and other "points of interests"</li>
            <li>Integrate pages with social media networks to promote them</li>
            <li>Manage all booking schedule in one user-friendly application available on mobile devices</li>
          </ul>
        </li>

      </ul>

      <%# link_to 'Add Hotel for free &raquo;'.html_safe, new_hotel_path, class:"btn btn-success btn-large pull-right" %>
    </div>


    <div class="body-content">

      <div class="row">
        <div class="col-lg-4">
          <h4>Resorts</h4>
          <%= render Resort.all %>
        </div>
        <div class="col-lg-4">
          <h4>Streams</h4>
          <%= render Stream.all %>
        </div>
        <div class="col-lg-4">
          <h4>Tours</h4>
          <%= render Tour.limit(5) %>
        </div>
      </div>

      <hr>

    </div>

<% end %>

<% content_for :sidebar do %>
    <h4>Last comments</h4>
    <%= render @comments, show_commentable: true, truncate_text: true %>
<% end %>

<% content_for :offer do %>
    <h3>Book now!</h3>
    <%= render 'hotels/booking_form_offer' %>
<% end %>

<div class="row">
  <div class="col-lg-6">
    <h4>Hotels</h4>
    <%= render @hotels %>
    <%= link_to 'View all hotels', hotels_path %>
  </div>
  <div class="col-lg-6">
    <h4>Latest posts</h4>
    <%= render Post.limit(10) %>
  </div>
</div>