<!-- Main jumbotron for a primary marketing message or call to action -->


<% content_for :head do %>

    <%= render 'layouts/main_carousel' %>

    <div class="body-content">

      <div class="row">
        <div class="col-lg-4">
          <h4>Resorts</h4>
          <%= render Resort.all %>
        </div>
        <div class="col-lg-4">
          <h4>Streams</h4>
          <%= render Stream.all %>
        </div>
        <div class="col-lg-4">
          <h4>Tours</h4>
          <%= render Tour.limit(5) %>
        </div>
      </div>

      <hr>

    </div>

<% end %>

<% content_for :sidebar do %>
    <h4>Last comments</h4>
    <%= render @comments, show_commentable: true, truncate_text: true %>
<% end %>

<% content_for :offer do %>
    <h3>Book now!</h3>
    <%= render 'hotels/booking_form_offer' %>
<% end %>

<div class="row">
  <div class="col-lg-6">
    <h4>Hotels</h4>
    <%= render @hotels %>
    <%= link_to 'View all hotels', hotels_path %>
  </div>
  <div class="col-lg-6">
    <h4>Latest posts</h4>
    <%= render Post.limit(10) %>
  </div>
</div>