<!-- Main jumbotron for a primary marketing message or call to action -->


<% content_for :head do %>
    <div class="jumbotron clearfix">
      <h1>Welcome to BestHotels in UA!</h1>
      <p>
        We're opening on 15.11.2013, but not yet. Some bugs do exist, sorry, we're working hardly on them :).
      </p>
      <p>
        BestHotels is the evolution of <a href="http://skiworld.org.ua">SkiWorld.org.ua</a> and satellite projects:
        <a href="httpd://zdravtour.net">ZdravTour</a>,
        <a href="httpd://yarem4e.com">Yarem4e</a>,
        <a href="httpd://dragobrat.org.ua">Dragorat</a>,
        <a href="httpd://greenworld.com.ua">GreenWorld</a>.
      </p>
      <p>
        Our mission is to represent Ukrainian resorts and hotels and their infrastructure in convenient and user-friendly way.
        Help you to choose "just the ticket". Provide easy booking through stable and well-known booking systems.
      </p>
      <p>
        Enjoy,<br>
        Oleksiy Zelenyuk, CEO
      </p>
      <%# link_to 'Add Hotel for free &raquo;'.html_safe, new_hotel_path, class:"btn btn-success btn-large pull-right" %>
    </div>


    <div class="body-content">

      <div class="row">
        <div class="col-lg-4">
          <h2>Resorts</h2>
          <%= render Resort.all %>
        </div>
        <div class="col-lg-4">
          <h2>Streams</h2>
          <%= render Stream.all %>
        </div>
        <div class="col-lg-4">
          <h2>Tours</h2>
          <%= render Tour.limit(5) %>
        </div>
      </div>

      <hr>

    </div>

<% end %>

<% content_for :sidebar do %>
    <h2>Last comments</h2>
    <%= render @comments, show_commentable: true, truncate_text: true %>
<% end %>

<% content_for :offer do %>
    <h3>Book now!</h3>
    <%= render 'hotels/booking_form_offer' %>
<% end %>

<div class="row">
  <div class="col-lg-6">
    <h2>Hotels</h2>
    <%= render @hotels %>
    <%= link_to 'View all hotels', hotels_path %>
  </div>
  <div class="col-lg-6">
    <h2>Latest posts</h2>
    <%= render Post.limit(10) %>
  </div>
</div>