<div class="row">
  <div class="col-lg-<%= value.measure ? 6 : 10 %> dynamic-field-col-field">
    <div class="form-control">
      <%= value.value_string %>
    </div>
  </div>
  <div class="col-lg-4 dynamic-field-col-field" style="display: <%= value.measure ? 'block' : 'none' %>">
    <div class="form-control">
      <%= value.measure.name if value.measure %>
    </div>
  </div>
  <div class="col-lg-1 dynamic-field-col-button">
    <%= link_to 'Edit', edit_value_path(value), remote: true, class: 'btn btn-default' %>
  </div>
</div>


