<p id="notice"><%= notice %></p>

<p>
  <b>Since:</b>
  <%= @period.since %>
</p>

<p>
  <b>Till:</b>
  <%= @period.till %>
</p>

<p>
  <b>Name:</b>
  <%= @period.name %>
</p>

<p>
  <b>Description:</b>
  <%= @period.description %>
</p>

<p>
  <b>Order position:</b>
  <%= @period.order_position %>
</p>


<%= link_to 'Edit', edit_period_path(@period) %> |
<%= link_to 'Back', periods_path %>
