<div class="form-group">
  <% if field.measure_category %>
    <% req = field.required? ? '* ' : '' %>
    <%= val.label val.object.value_field_name, req + field.name, class: 'col-lg-3 control-label' %>
    <div class="col-lg-<%= (field.measure_category && field.measure_category.measures.blank?) ? 9 : 6 %>">
      <%= val.text_field val.object.value_field_name, class: 'form-control amenity', placeholder: field.name, category_id: field.field_category_id %>
      <%= val.hidden_field :field_id %>
    </div>

    <% if field.measure_category && !field.measure_category.measures.blank? %>
      <div class="col-lg-3">
        <%= val.select :measure_id, options_from_collection_for_select(field.measure_category.measures, :id, :name), {}, {class: "form-control"}  %>
      </div>
    <% end %>

  <% else %>
    <div class="col-lg-3"></div>
    <label>
      <%= val.check_box :value_boolean, class: 'amenity', category_id: field.field_category_id %>
      <%= field.name %>
      <%= val.hidden_field :field_id %>
    </label>
  <% end %>

</div>