<div class="form-group">

  <% if field.measure_category %>

    <% req = field.required? ? '* ' : ''  %>
    <%= val.label :value_string, req + field.name, class: 'col-lg-3 control-label' %>
    <div class="col-lg-<%= (field.measure_category && field.measure_category.measures.blank?) ? 9 : 6 %>">
      <%= val.text_field :value_string, class: 'form-control', placeholder: field.name %> <%= val.hidden_field :field_id %>
    </div>

    <% if field.measure_category && !field.measure_category.measures.blank? %>
      <div class="col-lg-3">
        <%= val.select :measure_id, options_from_collection_for_select(field.measure_category.measures, :id, :name), {}, {class: "form-control"}  %>
      </div>
    <% end %>

  <% else %>
    <div class="col-lg-3"></div>
    <label>
      <%= val.check_box :value_boolean, class: 'amenity', category_id: field.field_category.id %> <%= field.name %> <%= val.hidden_field :field_id %>
    </label>
  <% end %>

</div>