<%= form_for @type, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@type.errors.count, "error") %> prohibited this type from being saved:</h2>

      <ul>
      <% @type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

    <div class="form-group">
      <%= f.label :parent_id, class: 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.select :parent_id, @type.collection_for_parent_select, {include_blank: true}, {class: 'form-control'} %>
      </div>
    </div>

    <fieldset>
        <legend>Properties</legend>

        <%= f.fields_for :fields do |builder| %>
            <%= render partial: 'field_fields', locals:{f:builder} %>
        <% end %>

        <div class="row">
          <div class="col-lg-10"></div>
          <div class="col-lg-2">
            <%= link_to_add_fields "Add field", f, :fields %>
          </div>
        </div>

    </fieldset>

    <fieldset>
      <legend>Actions</legend>

      <%= link_to 'Cancel', types_path, class: 'btn btn-default' %>
      <%= f.submit nil, :class => 'btn btn-success' %>
    </fieldset>



<% end %>
