<h3>Permissons for <%= @user.name %></h3>
<%= form_for @user, html: {class: 'form-horizontal'} do |f| %>
  <%= f.error_messages %>

  <%= render 'roles', f: f %>

  <%= hidden_field_tag "user[roles][]", "" %>

  <div class="form-group">
    <div class="col-lg-offset-3 col-lg-9">
      <%= f.submit 'Register', class: ' btn btn-default' %>
    </div>
  </div>

<% end %>
