<% menu = [
        ['Home',        node_path(@stream.node),         -1  ],
        ['Resorts',     resorts_path(@stream),           -1  ],
        ['Hotels',      hotels_path(@stream),            128 ],
        ['Blog',        stream_blog_path(@stream),             -1  ],
] %>


<div class="jumbotron">
  <h1><%= @stream.node.header %> <small><%= active_item == 'Home' ? 'Stream' : ' / '+ active_item %></small></h1>
  <p>
    <%= @stream.node.title %>
  </p>
</div>


<ul class="nav nav-pills hotel-menu">

  <% menu.each do |item| %>
    <li <%= 'class="active"'.html_safe if active_item == item[0] %> ><a href="<%= item[1] %>">
      <% if item[2]>0 %>
        <span class="badge pull-right"><%= item[2] %></span>
      <% end %>
      <%= item[0] %> </a>
    </li>
  <% end %>

</ul>


