<%= form_for @tour, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.fields_for :resort_tour_assignments do |builder| %>
    <%= render 'resort_tour_assignment_fields', f:builder %>
  <% end %>

  <div class="row">
    <div class="col-lg-10"></div>
    <div class="col-lg-2">
      <%= link_to_add_fields "Add a Resort", f, :resort_tour_assignments %>
    </div>
  </div>

  <div class="btn-group">
    <%= link_to 'Cancel', tour_resorts_path(@tour), class: 'btn btn-default' %>
    <%= f.submit class: 'btn btn-success' %>
  </div>


<% end %>