<%= form_for(@deal, html: {class: 'form-horizontal'}) do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% @deal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field  :dealable_id %>
    <%= f.hidden_field  :dealable_type %>

  <div class="form-group">
    <%= f.label :person_name, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :person_name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :login, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :login, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :password, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :price, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.number_field :price, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :begin_date, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.date_select :begin_date %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :expire_date, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.date_select :expire_date %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :contacts, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_area :contacts, class: 'form-control', rows: 5 %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :status, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.number_field :status, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="actions col-lg-offset-2 col-lg-10">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
