<h1>Listing deals</h1>

<table class="table table-striped">
  <tr>
    <th>Person name</th>
    <th>Price</th>
    <th>Begin date</th>
    <th>Expire date</th>
    <th>Address</th>
    <th>Status</th>
    <th></th>
  </tr>

<% @deals.each do |deal| %>
  <tr>
    <td><%= link_to deal.person_name, edit_deal_path(deal) %></td>
    <td><%= deal.price %></td>
    <td><%= l deal.begin_date if deal.begin_date %></td>
    <td><%= l deal.expire_date if deal.expire_date %></td>
    <td><%= markdown truncate(deal.contacts, length: 20, separator: ' ') %></td>
    <td><%= deal.status ? 'active' : 'disabled' %></td>
    <td><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  <tr>
    <th></th>
    <th><%= @hotel.donated %></th>
    <th></th>
    <th><%= l @hotel.deal_expire %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br />
<%= link_to 'New Deal', new_hotel_deal_path(@hotel), class: 'btn btn-primary' if @hotel %>
