<h2>Sign in</h2>
<%= devise_error_messages! %>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>

  <div class="form-group">
    <%= f.label :email, class: 'form-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password, class: 'form-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.password_field :password, class: 'form-control' %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <div class="checkbox">
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        </div>
      </div>
    </div>
  <% end -%>

  <div class="form-group">
    <div class="col-lg-9 col-lg-offset-2">
      <%= f.submit "Sign in", class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-9 col-lg-offset-2">
      <%= render "devise/shared/links" %>
    </div>
  </div>

<% end %>


