
<div class="form-group">
  <%= f.label :email, :class => 'control-label col-lg-3' %>
  <div class="col-lg-9">
    <%= f.text_field :email, :class => 'form-control', placeholder: 'Email' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :website, :class => 'control-label col-lg-3' %>
  <div class="col-lg-9">
    <%= f.text_field :website, :class => 'form-control', placeholder: 'Website' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :phone1, :class => 'control-label col-lg-3' %>
  <div class="col-lg-9">
    <%= f.text_field :phone1, :class => 'form-control', placeholder: 'Phone 1' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :phone2, :class => 'control-label col-lg-3' %>
  <div class="col-lg-9">
    <%= f.text_field :phone2, :class => 'form-control', placeholder: 'Phone 2' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :phone3, :class => 'control-label col-lg-3' %>
  <div class="col-lg-9">
    <%= f.text_field :phone3, :class => 'form-control', placeholder: 'Phone 3' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :fax, :class => 'control-label col-lg-3' %>
  <div class="col-lg-9">
    <%= f.text_field :fax, :class => 'form-control', placeholder: 'Fax' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :skype, :class => 'control-label col-lg-3' %>
  <div class="col-lg-9">
    <%= f.text_field :skype, :class => 'form-control', placeholder: 'Skype' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :address, :class => 'control-label col-lg-3' %>
  <div class="col-lg-9">
    <%= f.text_area :address, rows: 3, :class => 'form-control', placeholder: 'Address' %>
  </div>
</div>