<%= form_for [@hotel, @room], :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.hidden_field :hotel_id, :class => 'number_field' %>

  <div class="control-group">
    <%= f.label :service_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :service_type_id, :class => 'number_field' %>
    </div>
  </div>

  <%= render partial: 'nodes/fields_for_accessible', locals:{node: @room.node} %>


  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                hotel_rooms_path, :class => 'btn' %>
  </div>
<% end %>
