<p id="notice"><%= notice %></p>

<p>
  <b>Hotel:</b>
  <%= @room.hotel_id %>
</p>

<p>
  <b>Service type:</b>
  <%= @room.service_type_id %>
</p>

<p>
  <b>Name:</b>
  <%= @room.name %>
</p>

<p>
  <b>Descripion:</b>
  <%= @room.descripion %>
</p>

<p>
  <b>Price:</b>
  <%= @room.price %>
</p>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
