<h1>Listing redirects</h1>

<table>
  <tr>
    <th>Old domain</th>
    <th>Old path</th>
    <th>New path</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @redirects.each do |redirect| %>
  <tr>
    <td><%= redirect.old_domain %></td>
    <td><%= redirect.old_path %></td>
    <td><%= redirect.new_path %></td>
    <td><%= link_to 'Show', redirect %></td>
    <td><%= link_to 'Edit', edit_redirect_path(redirect) %></td>
    <td><%= link_to 'Destroy', redirect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Redirect', new_redirect_path %>
