<%
   channel ||= @post.channel
   header_pref = @post.new_record? ? 'create' : 'update'
%>
<%= content_tag_for :div, @post, 'form', class: 'checktags' do %>
  <h3><%= t(header_pref, obj: t('posts.crud')) %></h3>
  <%= form_for(@post, remote: true, html: {role: 'form'}) do |f| %>

    <%= hidden_field_tag :channel_id, channel.id if channel %>
    <%= hidden_field_tag :channel_type, channel.class.name %>

    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :slug %>
      <%= f.text_field :slug, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :teaser %>
      <%= f.text_area :teaser, rows: 2, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, rows: 4, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :tag_list, "Tags (separated by commas)" %>
      <%= f.text_field :tag_list, class: "form-control" %>
    </div>

    <%= render 'tags/checktags', f: f, tags: f.object.portals %>

    <div class="actions">

      <%= render 'common/widgets/to_markdown_checkbox' %>

      <br>
      <%= f.submit class: 'btn btn-success' %>
      <% if @post.new_record? %>
        <a href="#" onclick="$('#form_post').hide(); $('#new_post_link').show(); return false" class="btn btn-default">Cancel</a>
      <% else %>
        <%= link_to 'Cancel', @post, remote: true, class: 'btn btn-default' %>
      <% end %>

    </div>
  <% end %>
<% end %>