<% unless post.new_record? && post.id.blank? %>
  <%= content_tag_for :div, post do %>
    <% path =
       if params[:stream] then post_path(@stream, post)
       elsif post.channel_type == 'Resort' then post_path(@resort, post)
       else [post.channel, post] end
    %>
    <%# path = params[:resort] ? post_path(@resort, post) : [post.channel, post] %>
    <h3><%= link_to post.title, path %></h3>
    <p><%=  post.teaser || truncate(  Sanitize.clean(post.content), length: 300, separator: '.' ) %></p>

    <% unless post.comment_threads.blank? %>
      <%= post.comment_threads.count %> comments
    <% end %>

   <% if post.tag_list.present? %>
        <p>
          Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(post.channel, t) }.join(', ') %>
        </p>
   <% end %>



    <% if can? :manage, post.channel %>
      <div>
        <%= link_to 'Edit post', edit_post_path(post), remote: true %> |
        <%= link_to 'Delete', post, method: :delete, remote: true, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
      </div>
    <% end %>

    <hr>
  <% end %>
<% end %>
