<% unless post.new_record? %>
  <%= content_tag_for :div, post do %>
    <h3><%= link_to post.title, [@hotel, post] %></h3>
    <p><%= post.teaser %></p>


      <%= link_to 'Edit post', edit_post_path(post), remote: true, class: 'btn btn-default' %>
      <%= link_to 'Delete', post, method: :delete, remote: true, class: 'btn btn-danger', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>


    <hr>
  <% end %>
<% end %>
