<h1><%= @post.title %></h1>
<hr>
<div><%= @post.created_at %></div>

<div><%= @post.teaser %></div>

<%= render 'photos/dynamic_form', gallery: @post.gallery if @post.gallery %>

<div class="content">
  <%= @post.content %>
</div>

<%= render 'comments/comments_block', commentable: @post %>