
<h1><%= @gallery.name %></h1>

<p>
  <%= @gallery.description %>
</p>

<div class="panel">

  <%= form_for Photo.new do |f| %>
    <%= f.label :image, "Upload photos:" %>
    <%= f.hidden_field :gallery_id, value: @gallery.id %>
    <%= f.file_field :image, multiple: true %>
  <% end %>

  <div id="progress">
    <div class="progress-bar bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"><span class="sr-only"></span></div>
  </div>
</div>

<div id="photos">
  <%= render @gallery.photos %>
</div>

<div class="btn-group">
  <%= link_to 'Edit', edit_gallery_path(@gallery), class: 'btn btn-default' %>
  <%= link_to 'Back', galleries_path, class: 'btn btn-default' %>
</div>