<% title "#{@city.node.header} #{@city.node.title}" %>

    <h4><%= t(:description) %></h4>
    <% if @city.description.present? %>
      <%= markdown truncate(@city.description, length: 1000, separator: '.') %>
      <%= link_to(t('full_desc'), city_description_path(@city)) %>
      <hr>
    <% end %>

    <h4><%= t 'resorts.h' %></h4>
    <%= render @city.resorts %>



<% content_for :sidebar do %>
    <% if @city.hotels.present? %>
        <h4><%= t 'hotels.h' %></h4>
        <%= render @city.hotels.limit(5) %>
        <%= link_to "See all hotels (#{@city.hotels.count})", city_hotels_path(@city) if @city.hotels.count > 5 %>
        <hr>
    <% end %>
<% end %>