<%- model_class = MeasureCategory -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @measure_category.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:data_type) %>:</strong></dt>
  <dd><%= @measure_category.data_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:filter) %>:</strong></dt>
  <dd><%= @measure_category.filter %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              measure_categories_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_measure_category_path(@measure_category), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              measure_category_path(@measure_category),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
