<%= form_for [@hotel, category], :html => { :class => 'form-horizontal' } do |f| %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-3' %>
    <div class="col-lg-9">
      <%= f.text_field :name, :class => 'text_field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-3' %>
    <div class="controls col-lg-9">
      <%= f.text_area :description, :class => 'text_area form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :type, :class => 'col-lg-3 control-label' %>
    <div class="col-lg-9">
      <%= f.select(:type_id, category.type.collection_for_parent_select(controller_name), {}, {class: 'form-control'}) %>
    </div>
  </div>

  <%= render 'types/properties', evaluated: category, f: f %>


  <%= f.hidden_field :hotel_id, :class => 'number_field' %>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                hotel_rooms_path(@hotel), :class => 'btn' %>
  </div>
<% end %>
