<%
   image_mode       ||= :mini
   show_description ||= false
   show_amenities   ||= false
   type = category_type category
%>
<div class="media">

  <%= link_to image_tag(category.gallery.title.image_url(image_mode), class: :thumbnail), find_path(category), class: 'pull-left' if category.gallery.title %>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to category.caption, find_path(category) %></h4>

    <% if type && !category.name %>
      <p><%= type %></p>
    <% end %>

    <% if show_description %>
      <%= markdown truncate(category.description, length: 100, separator: ' ') %>
    <% end %>

    <% if show_amenities %>
      <%= render('values/structured_list', valuable: category) %>
    <% end %>

    <%= link_to('Full description', [@hotel, category]) if category.description.present? %>

  </div>
</div>