<%= form_for @hotel, :html => { :class => 'form-horizontal' } do |f| %>

    <div class="control-group">
      <%= f.label :type, :class => 'control-label' %>
      <div class="controls">
        <%= f.select(:type_id, @hotel.type.collection_for_parent_select, {}, {class: 'form-control'}) %>
      </div>
    </div>

    <%= render 'types/properties', evaluated: @hotel, f: f %>

  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, class: 'form-control' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :city_id, options_from_collection_for_select(City.all, :id, :name), {}, {class: 'form-control'} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :user_id, options_from_collection_for_select(current_user.users_available, :id, :name), {}, {class: 'form-control'} %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                hotels_path, :class => 'btn btn-default' %>
  </div>
<% end %>
