<%

   landmark       ||= @default_landmark
   landmark_link  ||= nil
   image_version  ||=:small
   img              = hotel.gallery.title.image_url(image_version) rescue nil
%>

<div class="hotel-item clearfix">
  <div class="row">
    <div class="col-lg-10">
      <h3>
        <%= link_to hotel.name, slug_hotel_path(hotel) %>
        <small><%= hotel.type.name rescue '' %>, <%= hotel.city.name rescue '' %></small>
      </h3>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 thumbnail-container">
      <%= image_tag(img, class: 'img-circle thumbnail hotel-thumbnail') if img %>
    </div>

    <div class="col-lg-8 details">

      <div class="row">
        <div class="col-lg-9">
          <span class="distance" data-toggle="tooltip" data-placement="bottom" title="Distance does not consider road connections">
            <%= distance_between(hotel, landmark, landmark_link) if landmark.present? %>
          </span>
        </div>
      </div>
      <% if hotel.rooms.present? %>
        <% hotel.rooms.take(4).each do |room| %>
          <% cache room do %>
          <div class="row room">
            <div class="col-lg-10">
              <%= link_to room.caption, slug_hotel_room_path(hotel, room) %>
            </div>
            <div class="col-lg-2 price">
              <% room.prices.each do |price| %>
                <% closed = price.period != hotel.current_period ? ' closed' : '' %>
                <%= content_tag_for(:span, price, class: "period_#{price.period.id} #{closed}") do %>
                  <%= price.value %>
                <% end %>
              <% end %>
            </div>
          </div>
          <% end %>
        <% end %>
        <% if hotel.rooms.count > 4 %>
          <div class="row">
            <div class="col-lg-10">
              <%= link_to "See all rooms (#{hotel.rooms.count})", slug_hotel_rooms_path(hotel) %>
            </div>
          </div>
        <% end %>

        <div class="periods row">

          <div class="col-lg-12">
            <% if hotel.periods.present? %>
              <div class="btn-group">
                <button type="button" class="btn btn-xs btn-default dropdown-toggle select-period" data-toggle="dropdown">
                  <span class="title">
                    <%= hotel.current_period.title %>
                  </span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <% hotel.periods.last(5).each do |period| %>
                    <% cache period do %>
                    <%= content_tag_for(:li, period, class: period == hotel.current_period ? 'active' : nil) do %>
                      <a href="#"><%= period.title %></a>
                    <% end %>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
        </div>

      <% end %>

    </div>
  </div>


</div>