<% hotel_menu = [
        ['Info',      node_path(@hotel.node),           -1 ],
        ['Rooms',       hotel_rooms_path(@hotel),       @hotel.rooms.count     ],
        ['Services',    hotel_services_path(@hotel),    @hotel.services.count  ],
        ['Blog',        blog_path(@hotel),              -1 ],
        ['Photos',      album_path(@hotel),             -1 ],
        ['Prices',      pricelist_path(@hotel),         -1 ],
        ['Comments',    reviews_path(@hotel),           @hotel.comment_threads.count ],
        ['Contacts',    '#',                            -1 ]
] %>


<div class="jumbotron">
  <h1><%= @hotel.node.header %> <small><%= active_item == 'Info' ? (@hotel.type.name if @hotel.type) : ' / '+active_item %></small></h1>
  <p>
    <%= @hotel.node.title %>
  </p>
</div>


<ul class="nav nav-pills hotel-menu">

  <% hotel_menu.each do |item| %>
    <li <%= 'class="active"'.html_safe if active_item == item[0] %> ><a href="<%= item[1] %>">
      <% if item[2]>0 %>
        <span class="badge pull-right"><%= item[2] %></span>
      <% end %>
      <%= item[0] %> </a>
    </li>
  <% end %>

</ul>


