<% hotel_menu = [
        ['Info',      node_path(@hotel.node),           -1 ],
        ['Rooms',       hotel_rooms_path(@hotel),       @hotel.rooms.count     ],
        ['Services',    hotel_services_path(@hotel),    @hotel.services.count  ],
        ['Blog',        '#',                            -1 ],
        ['Photos',      '#',                            35 ],
        ['Prices',      '#',                            -1 ],
        ['Comments',    '#',                            52 ],
        ['Contacts',    '#',                            -1 ]
] %>


<div class="jumbotron">
  <h1><%= @hotel.node.header %> <small><%= active_item == 'Info' ? (@hotel.type.name if @hotel.type) : ' / '+active_item %></small></h1>
  <p>
    <%= @hotel.node.title %>
  </p>
</div>


    <ul class="nav nav-pills hotel-menu">

      <% hotel_menu.each do |item| %>
          <li <%= 'class="active"'.html_safe if active_item == item[0] %> ><a href="<%= item[1] %>">
            <% if item[2]>0 %>
                <span class="badge pull-right"><%= item[2] %></span>
            <% end %>
            <%= item[0] %> </a>
          </li>
      <% end %>

    </ul>


