<% hotel_menu = [
        ['Info',        hotel_path,                                 -1 ],
        ['Rooms',       slug_hotel_rooms_path(@hotel),              @hotel.rooms.count     ],
        ['Services',    slug_hotel_services_path(@hotel),           @hotel.services.count  ],
        ['Blog',        slug_hotel_blog_path(@hotel),               -1 ],
        ['Photos',      slug_hotel_album_path(@hotel),              -1 ],
        ['Prices',      slug_hotel_pricelist_path(@hotel),          -1 ],
        ['Comments',    slug_hotel_comments_path(@hotel),           @hotel.comment_threads.count ],
        ['Contacts',    '#',                                        -1 ]
] %>


<div class="jumbotron">
  <h1><%= @hotel.node.header %> <small><%= active_item == 'Info' ? (@hotel.type.name if @hotel.type) : ' / '+active_item %></small></h1>
  <p>
    <%= @hotel.node.title %>
  </p>
</div>


<ul class="nav nav-pills hotel-menu">

  <% hotel_menu.each do |item| %>
    <li <%= 'class="active"'.html_safe if active_item == item[0] %> ><a href="<%= item[1] %>">
      <% if item[2]>0 %>
        <span class="badge pull-right"><%= item[2] %></span>
      <% end %>
      <%= item[0] %> </a>
    </li>
  <% end %>

</ul>


