<% title('Photos - ' + @hotel.node.header) %>
<%= render 'hotels/hotel_header', active_item: 'Photos' %>


<h1>Hotel Album</h1>


<div class="panel">

  <%= form_for Photo.new do |f| %>
    <%= f.label :image, "Upload photos:" %>
    <%= f.hidden_field :gallery_id, value: @hotel.gallery.id %>
    <%= f.file_field :image, multiple: true %>
  <% end %>

  <div id="progress">
    <div class="progress-bar bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"><span class="sr-only"></span></div>
  </div>
</div>

<div id="photos">
  <%= render @hotel.gallery.photos %>
</div>


<%= link_to 'Edit Album', gallery_path(@hotel.gallery), class: 'btn btn-primary pull-right' %>