<% title "#{ t 'hotels.contacts' } \"#{@hotel.name}\" " %>
<h1><%= t 'hotels.contacts' %> "<%= @hotel.name %>"</h1>

<%= render 'address' %>
<%= link_to(@hotel.city.name, find_path(@hotel.city)) if @hotel.city %><br>

<%= render 'layouts/map', location: @hotel.location %>