
<h1>Edit room prices</h1>
<hr>

<%= form_for @hotel, :html => { :class => 'form-horizontal' } do |f| %>

    <%= f.fields_for :periods do |builder| %>
        <%= render 'period_fields', f: builder, existing: 'true' %>
    <% end %>

    <div class="row period-list pull-right">
      <%= link_to_add_fields "Add new period", f, :periods %>
      <%= f.submit nil, :class => 'btn btn-success' %>
      <%= link_to 'Cancel', slug_hotel_pricelist_path(@hotel), class: 'btn btn-default' %>
    </div>

<% end %>