<%- model_class = Hotel -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<div class="row">
  <% @hotels.each do |hotel| %>

      <div class="hotel-item col-lg-6 clearfix">

        <div class="caption">
          <h3><%= link_to hotel.node.header, node_path(hotel.node.name) %></h3>
          <div>
            <%= hotel.type.name %>
          </div>
        </div>
      </div>

      <div>
        Rooms:
        <ul>
          <% hotel.rooms.each do |room| %>
              <li>
                <%= room.name %> / <%= room.type.name %> /
                <br>
                <%= render 'values/structured_list', valuable: room %>

              </li>
          <% end %>
        </ul>
        Services:
        <ul>
          <% hotel.services.each do |service| %>
              <li>
                <%= service.name %> / <%= service.type.name %> / <br>
                <%= render 'values/structured_list', valuable: service %>
              </li>
          <% end %>
        </ul>

        <br>

        <%= render 'values/structured_list', valuable: hotel %>


      </div>

  <% end %>
</div>