<%
   title_photo = @hotel.gallery.rand(:title).image_url(:mini)    rescue nil
   title ((@hotel.node.header rescue '') + ( '&mdash; ' + @hotel.node.title rescue '' )).html_safe + ' | Djerelo.Info' rescue ''
%>

<div class="all-photos clearfix">
  <% @hotel.all_photos.take(12).each do |photo| %>
    <%= image_tag photo.image_url(:mini), class: 'pull-left' %>
  <% end %>
  <%= link_to('See all album', hotel_album_path(@hotel)) %>
</div>

<% content_for :page_title do %>
  <h1>
    <%= link_to raw("#{image_tag(title_photo, class: 'title_image') if title_photo} #{@hotel.name}"), slug_hotel_path(@hotel) %>
  </h1>
<% end %>

<% content_for :sidebar do %>
  <% if @hotel.posts.present? %>
    <h3>Last posts</h3>
    <% @hotel.posts.limit(5).each do |post| %>
      <h4><%= link_to post.title, [@hotel, post] %></h4>
      <%= markdown truncate(post.teaser, length: 200, separator: ' ') %>
    <% end %>
    <p><%= link_to 'See all posts', slug_hotel_blog_path(@hotel) %></p>
    <hr>
  <% end %>

  <% if @hotel.comment_threads.present? %>
    <h3>Last comments</h3>
    <% @hotel.comment_threads.limit(5).each do |comment| %>
      <%= render comment %>
    <% end %>
    <br>
    <p><%= link_to 'See all comments', slug_hotel_comments_path(@hotel) %></p>
    <hr>
  <% end %>

<% end %>

<div class="row">
  <div class="col-lg-6">
    <h3>Overview</h3>
    <% if @hotel.description.present? %>
      <%= markdown truncate(@hotel.description, length: 500, separator: '.') %>
      <%= link_to('Full description', slug_hotel_description_path(@hotel)) %>
      <hr>
    <% end %>

    <%= render 'values/structured_list', valuable: @hotel %>
  </div>
  <div class="col-lg-6">

    <% if @hotel.rooms.present? %>
      <h3>Rooms</h3>
      <% @hotel.rooms.limit(5).each do |room| %>
        <%= render 'categories/teaser', category: room %>
      <% end %>
      <br>
      <%= link_to "See all rooms (#{@hotel.rooms.count})", slug_hotel_rooms_path(@hotel) if @hotel.rooms.count > 5 %>
      <hr>
    <% end %>

    <% if @hotel.services.present? %>
      <h3>Services</h3>
      <% @hotel.services.limit(5).each do |service| %>
        <%= render 'categories/teaser', category: service %>
      <% end %>
      <br>
      <%= link_to "See all rooms (#{@hotel.rooms.count})", slug_hotel_rooms_path(@hotel) if @hotel.rooms.count > 5 %>
      <hr>
    <% end %>

  </div>
</div>
<div class="row">
  <div class="col-lg-6">

  </div>
  <div class="col-lg-6">

  </div>
</div>