<%
   title_photo = @hotel.gallery.rand(:title).image_url(:mini)    rescue nil
   title ((@hotel.node.header rescue '') + ( '&mdash; ' + @hotel.node.title rescue '' )).html_safe + ' | Djerelo.Info' rescue ''
%>

<div class="all-photos clearfix">
  <% @hotel.all_photos.take(12).each do |photo| %>
    <%= image_tag photo.image_url(:mini), class: 'pull-left' %>
  <% end %>
  <%= link_to(t('albums.see_album'), hotel_album_path(@hotel)) %>
</div>

<% content_for :page_title do %>
  <h1>
    <%= link_to raw("#{image_tag(title_photo, class: 'title_image') if title_photo} #{@hotel.name}"), find_path(@hotel) %> <small> (<%= link_to @hotel.city.name, find_path(@hotel.city) if @hotel.city %>) </small>
  </h1>
<% end %>

<% content_for :sidebar do %>
  <% if @hotel.posts.present? %>
    <h3><%= t('posts.latest') %></h3>
    <% @hotel.posts.limit(5).each do |post| %>
      <h4><%= link_to post.title, [@hotel, post] %></h4>
      <%= markdown truncate(post.teaser, length: 200, separator: ' ') %>
    <% end %>
    <p><%= link_to t('posts.all'), slug_hotel_blog_path(@hotel) %></p>
    <hr>
  <% end %>

  <h3>Facebook</h3>
  <div class="fb-like" data-href="<%=@fb_url%>" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

  <div class="fb-save" data-uri="<%=@fb_url%>" data-size="small"></div>
  <div class="fb-send" data-href="<%=@fb_url%>" data-size="small"></div>

  <% if @hotel.facebook_page_url %>
    <div class="fb-page" style="margin: 5px 0" data-href="https://www.facebook.com/<%= @hotel.facebook_page_url %>/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
      <blockquote cite="https://www.facebook.com/ustepana/" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/<%= @hotel.facebook_page_url %>/"><%= @hotel.name %></a>
      </blockquote>
    </div>
  <% end %>

  <div class="fb-comments" data-href="<%=@fb_url%>" data-width="338" data-numposts="5"></div>

<% end %>

<div class="row">
  <div class="col-lg-6">
    <h3><%= t 'description' %></h3>
    <% if @hotel.description.present? %>
      <%= markdown truncate(@hotel.description, length: 500, separator: '.') %>
      <%= link_to(t('full_desc'), slug_hotel_description_path(@hotel)) %>
      <hr>
    <% end %>

    <%= render 'values/structured_list', valuable: @hotel %>
  </div>
  <div class="col-lg-6">

    <% if @hotel.rooms.present? %>
      <h3><%= t 'rooms.rooms' %></h3>
      <% @hotel.rooms.limit(5).each do |room| %>
        <%= render 'categories/teaser', category: room %>
      <% end %>
      <br>
      <%= link_to "#{t 'rooms.see_all'} (#{@hotel.rooms.count})", slug_hotel_rooms_path(@hotel) if @hotel.rooms.count > 5 %>
      <hr>
    <% end %>

    <% if @hotel.services.present? %>
      <h3><%= t 'services.h' %></h3>
      <% @hotel.services.limit(5).each do |service| %>
        <%= render 'categories/teaser', category: service %>
      <% end %>
      <br>
      <%= link_to "#{t 'services.see_all'} (#{@hotel.services.count})", slug_hotel_services_path(@hotel) if @hotel.services.count > 5 %>
      <hr>
    <% end %>

  </div>
</div>
<div class="row">
  <div class="col-lg-12">

    <%= render 'comments/form', commentable: @hotel %>

    <% if @hotel.comment_threads.present? %>
      <h3><%= t('comments.latest') %></h3>
      <% @hotel.comment_threads.limit(5).each do |comment| %>
        <%= render comment %>
      <% end %>
      <br>
      <p><%= link_to t('comments.see_all'), slug_hotel_comments_path(@hotel) %></p>
      <hr>
    <% end %>

  </div>
</div>