<%
   home_page = request.fullpath == menu[0][1]
%>

<% content_for :banner do %>
  <%
     slides = gallery.photos#.tagged_with(:cover)
     cover = gallery.rand(:cover).image_url(:cover) rescue nil
     title = gallery.rand(:title).image_url(:mini) rescue nil
  %>
  <% if slides.count > 1# and false %>
    <div id="header-carousel" class="carousel slide">
      <ol class="carousel-indicators">
        <% slides.each_with_index do |slide, i| %>
          <li data-target="#header-carousel" data-slide-to="<%= i %>" class="<%= 'active' if i==0 %>"></li>
        <% end %>
      </ol>
      <div class="carousel-inner">

        <% slides.each_with_index do |slide, i| %>
          <div class="item <%= 'active' if i==0 %> cover-image" style="background-image: url(<%= slide.image_url(:content) %>);">
          </div>
        <% end %>
      </div>
      <a class="left carousel-control" href="#header-carousel" data-slide="prev">
        <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#header-carousel" data-slide="next">
        <span class="icon-next"></span>
      </a>
    </div>
  <% elsif cover %>
    <div class="cover-image" style="background-image: url(<%= cover %>);"></div>
  <% elsif poi.location.present? %>
    <%= render 'layouts/map', location: poi.location %>
  <% end %>
<% end %>

<% if home_page %>
  <div class="row visual-header clearfix <%= 'mini' unless home_page %>">
    <div class="col-lg-8 slides ">
      <%= yield(:banner)  %>
    </div>
    <div class="col-lg-4 booking ">
      <%= yield(:offer)  %>
    </div>
  </div>
<% end %>

<%= render 'layouts/poi_menu', menu: menu, header: header %>