
<div class="jumbotron">
  <h1><%= header %> <small><%= section %></small></h1>
  <p>
    <%= title %>
  </p>
</div>


<ul class="nav nav-pills hotel-menu">

  <% menu.each do |item| %>
    <li <%= 'class="active"'.html_safe if request.fullpath == item[1] %> ><a href="<%= item[1] %>">
      <% if item[2]>0 %>
        <span class="badge pull-right"><%= item[2] %></span>
      <% end %>
      <%= item[0] %> </a>
    </li>
  <% end %>

</ul>