<% title " - #{@city.node.header} #{@city.node.title}" %>

<% menu = [
    [t('cities.summary'),     slug_city_path(@city),        -1 ],
    [t('description'),        city_description_path(@city), -1 ],
    [t('resorts.h'),          city_resorts_path(@city),     -1 ],
    [t('hotels.h'),           city_hotels_path(@city),      -1 ],
    [t('location'),           city_location_path(@city),    -1 ],
    [t('photos.h'),           city_album_path(@city),       @city.gallery.photos.count ],
    [t('comments.h'),         city_comments_path,           0] # TODO: add composite comments to cities
]
   cover_photo = @city.gallery.rand(:cover).image_url(:content) rescue nil
   title_photo = @city.gallery.rand(:title).image_url(:mini)    rescue nil
%>
         
<% content_for :manage_menu do %>
  <% if can? :manage, @city %>
    <li><%= link_to t('.edit',    :default => t("helpers.links.edit")),     edit_city_path(@city) %></li>
    <li><%= link_to t('.destroy', :default => t("helpers.links.destroy")),  city_path(@city), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %></li>
  <% end %>
<% end %>

<% content_for :page_title do %>
  <h1>
    <%= link_to @city.name, slug_city_path(@city) %>
  </h1>
<% end %>

<% content_for :head do %>
  <%= render 'layouts/visual_header', poi: @city, menu: menu, header: @city.node.header, title: @city.node.title, gallery: @city.gallery %>
<% end %>

<% content_for :content do %>
  <%= yield %>
<% end %>

<%= render template: "layouts/application" %>