<% menu = [
    [t('hotels.menu.summary'      ), slug_hotel_path(@hotel),                     -1 ],
    [t('hotels.menu.description'  ), slug_hotel_description_path(@hotel),         @hotel.description.present? ],
    [t('hotels.menu.rooms'        ), slug_hotel_rooms_path(@hotel),               @hotel.rooms.count     ],
    [t('hotels.menu.services'     ), slug_hotel_services_path(@hotel),            @hotel.services.count  ],
    [t('hotels.menu.blog'         ), slug_hotel_blog_path(@hotel),                @hotel.posts.count     ],
    [t('hotels.menu.photos'       ), hotel_album_path(@hotel),                    @hotel.photos.count ],
    [t('hotels.menu.prices'       ), slug_hotel_pricelist_path(@hotel),           @hotel.periods.count ],
    [t('hotels.menu.comments'     ), slug_hotel_comments_path(@hotel),            @hotel.comment_threads.count ],
#   [t('hotels.menu.booking'      ), slug_hotel_book_path(@hotel),                -1 ],
    [t('hotels.menu.contacts'     ), slug_hotel_contacts_path(@hotel),            -1 ]
]

   cover_photo = @hotel.gallery.rand(:cover).image_url(:content) rescue nil
   title_photo = @hotel.gallery.rand(:title).image_url(:mini)    rescue nil

%>
<% content_for :manage_menu do %>
  <% if can? :manage, @hotel %>
    <%= yield(:hotel_manage_menu) %>
    <li><%= link_to t("helpers.links.edit", obj: t('hotels.crud')),     edit_hotel_path(@hotel) %></li>
    <li><%= link_to t("helpers.links.destroy", obj: t('hotels.crud')), @hotel, :method => 'delete', data: { confirm: t("confirm_poi", type: t('hotels.crud'), name: @hotel.name) } %></li>
    <%# data: { confirm: t("helpers.links.confirm", type: t('hotels.crud'), name: @hotel.name) } %>
    <li><%= link_to t('helpers.links.create', obj: t('rooms.crud')), new_hotel_room_path(@hotel) %></li>
    <li><%= link_to t('hotels.prices.edit'), pricelist_edit_path(@hotel) %></li>
    <li><%= link_to t('deals.h') + " (#{@hotel.deals.count})", hotel_deals_path(@hotel) %></li>
    <li><%= link_to t('leads.h') + " (#{@hotel.leads.count})", hotel_leads_path(@hotel) %></li>
  <% end %>
<% end %>

<% content_for :offer do %>
  <%= raw "<h3>#{t('hotels.address')}</h3>" if @hotel.leads.blank? %>
  <%= render @hotel.leads.present? && @hotel.leads[0].params ? 'hotels/booking_form_offer' : 'hotels/address' %>
<% end %>

<% content_for :head do %>
  <%= render 'layouts/visual_header', poi: @hotel, menu: menu, header: @hotel.node.header, title: @hotel.node.title, gallery: @hotel.gallery %>
<% end %>

<% content_for :content do %>
  <%= yield %>
<% end %>

<%= render template: "layouts/application" %>