<% menu = [
    [t('resorts.summary'),  slug_resort_path(@resort),        -1 ],
    [t('description'),      resort_description_path(@resort), -1 ],
    [t('hotels.h'),         resort_hotels_path(@resort),      -1 ],
    [t('blog'),             resort_blog_path(@resort),        -1 ],
    [t('photos.h'),         resort_album_path(@resort),       -1 ],
    [t('comments.h'),       resort_comments_path(@resort),  -1 ],
]
   cover_photo = @resort.gallery.rand(:cover).image_url(:content) rescue nil
   title_photo = @resort.gallery.rand(:title).image_url(:mini)    rescue nil
%>

<% content_for :manage_menu do %>
  <% if can? :manage, @resort %>
    <li><%= link_to t('.edit',    :default => t("helpers.links.edit")),     edit_resort_path(@resort) %></li>
    <li><%= link_to t('.destroy', :default => t("helpers.links.destroy")),  resort_path(@resort), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %></li>
  <% end %>
<% end %>

<% content_for :head do %>
  <%= render 'layouts/visual_header', poi: @resort, menu: menu, header: @resort.node.header, title: @resort.node.title, gallery: @resort.gallery %>
<% end %>

<% content_for :content do %>
  <%= yield %>
<% end %>

<%= render template: "layouts/application" %>