<% title " - #{@tour.name}" %>
<% menu = [
    [t('description'),  tour_path(@tour),                 -1 ],
    [t('hotels.h'),     tour_hotels_path(@tour),          -1 ],
    [t('resorts.h'),    tour_resorts_path(@tour),         -1 ],
    [t('photos.h'),     tour_album_path(@tour),                -1 ],
    [t('comments.h'),   tour_comments_path(@tour),        -1 ],
    [t('contacts.h'),   tour_contacts_path(@tour),        -1 ],
]
   section = 'section'
   cover_photo = @tour.gallery.rand(:cover).image_url(:content) rescue nil

%>

<% content_for :manage_menu do %>
    <% if can? :manage, @tour %>
        <li><%= link_to t('.edit',    :default => t("helpers.links.edit")),     edit_tour_path(@tour) %></li>
        <li><%= link_to t('.destroy', :default => t("helpers.links.destroy")),  tour_path(@tour), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %></li>
    <% end %>
<% end %>

<% content_for :content do %>
  <%= yield %>
<% end %>


<% content_for :sidebar do %>

  <% if @tour.resorts || @tour.hotels %>

    <h4><%= t 'accomodation' %></h4>

    <h4><%= t 'resorts.h' %></h4>
    <%= render @tour.resorts %>

    <h2>Hotels</h2>
    <%= render @tour.hotels %>

  <% end %>

<% end %>

<% content_for :offer do %>
  <%# render 'hotels/booking_form_offer' %>
  <%= render template: 'tours/contacts' %>
<% end %>

<% content_for :head do %>
  <%= render 'layouts/visual_header', poi: @tour, menu: menu, header: @tour.name, title: '',
             gallery: @tour.gallery %>
<% end %>


<%= render template: "layouts/application" %>